@import "./libs.css";

:root {
  /* Fonts */
  --base-font-size: 16px;
  --base-font-weight-noraml: 400;
  --base-font-weight-title: 500;

  /* Colors */
  --base-text-color: #333;
  --link-text-color: #336FEE;
  --disabled-link-text-color: #DADADA;
  --black: #000
}

html,
body {
  height: 100%;
}

body {
  font-size: var(--base-font-size);
  /* Переменная --font-family-inter была объявлена в _app.js */
  /*noinspection CssUnresolvedCustomProperty*/
  font-family: var(--font-family-inter);
  font-weight: var(--base-font-weight-noraml);
  color: var(--base-text-color);
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrapper {
  flex: 1 0 auto;
}

.footer-wrapper {
  flex: 0 0 auto;
}

.page-wrapper {
  padding: 0 25px;
  margin-top: 37px;
  margin-bottom: 37px;
}
